html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*reset for REMS 62.5 = 10px de 16px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    /*espaciado*/
}


/*Globales*/

.contenedor {
    width: 95%;
    max-width: 120rem;
    /*ancho máximo*/
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/*utilidades*/

img {
    max-width: 100%;
    /*ajustarse al contenedor*/
}

.seccion {
    margin-top: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.display-block {
    display: block!important;
}

.contenido-centrado {
    max-width: 80rem;
}


/**BOTONES**/

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width:768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
        /*Para elementos hijos de flex*/
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-amarillo {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71B100;
}


/*header*/

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background: url(../img/header.jpg);
    background-position: center center;
    /*posicionar la imagen a partir del centro*/
    background-size: cover;
    height: 100vh;
    /*detecta la altura del dispositivo y lo ajusta.*/
    min-height: 60rem;
    /*altura mínima en caso de que no se pueda aplicar el view port*/
}

.contenido-header {
    height: 100%;
    /*Ocupar todo el alto del header*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (min-width:768px) {
    .contenido-header {
        text-align: left;
    }
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    align-items: center;
    padding-top: 3rem;
    display: block;
}

@media (min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/*Navegación*/

.navegacion a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
}

@media (min-width:768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
}

.navegacion a:hover {
    color: cadetblue;
}

.navegacion a:last-of-type {
    margin: 0;
}


/**Navegación mobile**/

.mobile-menu {
    display: block;
    width: 5rem;
}

.navegacion {
    display: none;
}

@media (min-width:768px) {
    .mobile-menu {
        display: none;
    }
    .navegacion {
        display: block;
    }
}

.navegacion:target {
    display: block;
}


/*iconos nosotros*/

.iconos-nosotros {
    display: block;
}

@media (min-width:768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

.icono {
    text-align: center;
}

@media (min-width:768px) {
    .icono {
        flex-basis: calc( 33.3% -1rem);
    }
}

.icono h3 {
    text-transform: uppercase;
}


/**Anuncios**/

@media (min-width:768px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /*especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. */
    }
}

.anuncio {
    border: 2px solid #b5b5b5;
    /* width, fill, color */
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}

@media (min-width:768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.contenido-anuncio {
    padding: 2rem;
    /*top, right, bottom, left*/
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    /*los elementos deben crecer*/
    max-width: 500px;
    /*tamaño limitado*/
}

.iconos-caracteristicas li {
    display: flex;
    /*justify-content: space-between;*/
}

.iconos-caracteristicas li p {
    margin-left: 1.5rem;
}

.ver-todas {
    display: flex;
    justify-content: end;
}


/**CONTACTO**/

.imagen-contacto {
    margin-top: 2rem;
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 0 0 95%;
    /*detecta el ancho y de acuerdo al numero de elementos, realiza la división*/
    color: white;
}

.contenido-contacto p {
    font-size: 1.8rem;
}


/**BLOG**/

@media (min-width:768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:768px) {
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog {
    margin-bottom: 6rem;
}

@media (min-width:768px) {
    .entrada-blog {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

@media (min-width:768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
}

.entrada-blog a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
}

.texto-entrada span {
    color: chocolate;
}


/**Testimoniales**/

.testimonial {
    background-color: #71B100;
    font-size: 2rem;
    color: white;
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
}

.testimonial p {
    text-align: right;
    font-weight: 700;
}

.testimonial blockquote {
    padding-left: 5rem;
    font-weight: 300;
}

.testimonial blockquote::before {
    content: "";
    display: block;
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 5rem;
}

.footer-home {
    background-color: #333333;
    color: white;
    padding: 3rem 0;
}

.contenido-footer nav {
    display: none;
}

@media (min-width:768px) {
    .contenido-footer nav {
        display: inline;
    }
    .contenido-footer {
        display: flex;
        justify-content: space-between;
    }
}

.copyright {
    text-align: center;
    margin: 0;
}


/**Internas**/

@media (min-width:768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: 50% 50%;
        /*Divide el ancho en dos fraccions y asigna una fracción a cada hijo*/
        grid-column-gap: 3rem;
        /*separación entre los elementos*/
    }
}

.info-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 5rem 0 2rem 0;
}


/*Anuncio*/

.resumen-caracteristicas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*alinear verticalmente*/
}


/*Formulario*/

legend {
    color: #333333;
    font-size: 2rem;
}

label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select {
    display: block;
    padding: 1rem;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form p {
    margin: 3rem 0 0 0;
    font-size: 1.8rem;
}

input[type="radio"] {
    margin: 0;
}